.ctn{
  
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  
}
.container{
    display: flex;
}
.ctn-right{
    margin-top: 50px;
}
.after-container{
    margin-left: 5%;
    margin-right: 5%;
}